/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f6f6;
}

header {
    background: #596e84;
    color: rgb(249, 247, 247);
    padding: 15px;
    text-align: center;
}

nav {
    background: #1f252b;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(232, 225, 225);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 40px 20px;
    text-align: center;
    background: rgb(227, 227, 227);
}

.hero h1 {
    color: #041628;
}

.hero p {
    color: #333;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin: 15px 10px 0 10px;
    padding: 10px 18px;
    background: #5b6875;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #0f1113;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.sdg-section {
    background: #e1e4e8;
    padding: 40px 20px;
    text-align: left;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
}

.sdg-section h2 {
    color: #041628;
    margin-bottom: 15px;
}

.sdg-section a {
    color: #1f252b;
    text-decoration: underline;
}
